.customers{
    padding:10px;
    width: auto;
    height: 80vh;
    overflow-y: scroll;
    position: relative;

    
}

.customers-table{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  font-size: 14px;
  width: 100%;
  

}

.customers-table td, .customers-table th {
    border: 1px solid #474747;
    padding: 8px;
    
  }

  .customers-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
  }

  .common-area {
    width: 100%;
    height: 80px;
    transition:  0.3s ease;
    overflow: hidden;

  }

  .common-area-hide{
    width: 100%;
    height: 120px;
    overflow: hidden;
    transition:  0.3s ease;
    margin-bottom: 10px;
    

  }

  .functional-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10px;
    height: 80px!important;
    height: 120px;
   
    
  }
  .filters-drop{
    padding: 0 10px;
  }

  .firstname-div{
    width: 300px;

  }
  .firstname-div input{
    width: 300px!important;
  }

  .lastname-div{
    width: 300px;
    margin-left: 50px;
  }
  .lastname-div input{
    width: 300px!important;
  }

  .delete-btn-div{
    margin-right: 15px;
    position: relative;
  }

  .index-div{
    position: absolute;
    right: -5px;
    top: -5px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: orange;
    color: black;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .search-div{
    width: 700px;
  }

  .search-div input{
    width: 700px;
    
  }

  .functional-btns{
    width: 400px;
    justify-content: flex-end;
    align-items: center;
  }


.add-btn{
    margin-left: 25px;
}

.columns-div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #04AA6D;
    height: 40px;
    width: 140px;
    border-radius: 8px;
    font-size: 18px;
    
    
    
}

.columns-div span{
    margin: 0 8px!important;
    
}

.columns-div:hover{
    cursor: pointer;
}

.filters-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
    text-align: center;
    height: 40px;
    width: 140px;
    border-radius: 8px;
    background-color: #04AA6D;
    font-size: 18px;
}

.filters-div:hover{
    cursor: pointer;
}

.filters-div span{
    margin: 0 8px!important;
}

.delete-check input {
    width: 20px;
    height: 20px;
    
}

.delete-check input:hover{
    cursor: pointer;
}

.info-btn i{
    font-size: 20px;


}

.info-btn i:hover{
   cursor: pointer;


}

.del-btn-hidden{
  display: none;
  transition: 1s ease;

}