@media (max-width:1400px) {
    .color i{
        font-size: 20px;
        margin-right: 20px;
    }

    .color{
        width: 150px;
        height: 50px;
        display: flex;
        margin-top: 10px;
    }

   

      .search-div,
      .search-div input{
        width: 450px;
        
      }
    
}


@media (max-width:900px) {
    .color i{
        font-size: 15px;
        margin-right: 15px;
    }

    .color{
        width: 140px;
        height: 40px;
        display: flex;
        margin-top: 10px;
    }
    
    .search-div,
    .search-div input{
      width: 300px;
      
    }

    .firstname-div,.firstname-div input{
        width: 180px!important;
        
    
      }

      .customers-table{
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        font-size: 14px;
        width: 100%;
        font-size: 12px;
      
      }
      
    
}