.my-nav{
    height: 150px;
    width: auto!important;
    padding: 0px 50px;
    color: rgb(92, 92, 92);
    position: relative;
}
.profil-img img{
    width: 80px;
    border: 3px solid;
    border-radius: 50%;
    border-color: var(--toogle-icon-color);
    padding: 2px;
}

.profil:hover{
    cursor: pointer;
    
}

.func-btns{
   display: flex;
   align-items: center;
    font-size: 25px;
    
}

.func-btns i:hover{
    cursor: pointer;
    color: var(--toogle-icon-color);
}

.drop{
    position: absolute;
    width: 180px;
    height: 145px;
    box-shadow: 2px 2px 10px;
    top: 100px;
    left: 70px;
    transition: all 0.3s ease;
    z-index: 999;
    border-radius: 8px;
    background-color: white;
}

.dropActive{
    opacity: 0;
    transition: all 0.3s ease;
    position: absolute;
    width: 180px;
    height: 145px;
    box-shadow: 2px 2px 10px;
    top: 100px;
    left: 70px;
    pointer-events: none;
    border-radius: 8px;
    z-index: 999;
}


.notication-active{
    position: absolute;
    width: 500px;
    height: auto;
    box-shadow: 2px 2px 10px;
    top: 95px;
    right: 125px;
    transition: all 0.3s ease;
    background-color: white;
    border-radius: 8px;
    z-index: 999;
    
}

.notication-non{
    opacity: 0;
    position: absolute;
    width: 500px;
    height: auto;
    box-shadow: 2px 2px 10px;
    top: 95px;
    right: 125px;
    pointer-events: none;
    transition: all 0.3s ease;
    background-color: white;
    border-radius: 8px;
    z-index: 999;
}

.notic-btn-div{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* .language-active{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
}

.language-active{
    opacity: 0;
    width: 200px;
    height: 200px;
    background-color: blueviolet;
} */

.language-drop-down-active{
    position: absolute;
    right: 170px;
    width: 130px;
    height: 110px;
    background-color: white;
    box-shadow: 2px 2px 10px;
    color: black;
    transition: all 0.3 ease;

}

.language-drop-down-non-active{
    opacity: 0;
    position: absolute;
    right: 170px;
    width: 130px;
    height: 110px;
    background-color: white;
    box-shadow: 2px 2px 10px;
    color: black;
    pointer-events: none;
    transition: all 0.3 ease;
}



