.products-box-div{
    width: 350px;
    height: 100vh;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    color: black;
    transition: 0.3s ease;
}

.products-box-div-hide{
    transform: translateX(350px);
    width: 350px;
    height: 100vh;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.3s ease;
}